.meaple {
    position: absolute;
    .containerInternal {
        position: relative;
        > img {
            width: 25px;
            height: 25px;
        }
    
        img {
            position: absolute;
            &:nth-child(1) {
                left: 0px;
            }
            &:nth-child(2) {
                left: 10px;
                z-index: 2;
            }
            &:nth-child(3) {
                left: 20px;
            }
            &:nth-child(4) {
                left: 10px;
                bottom: -10px;
            }
        }
    }
}