.meaple {
    position: absolute;
    .containerInternal {
        position: relative;
        > img {
            position: absolute;
            width: 25px;
            height: 25px;
            left: 10px;
            z-index: 2;
        }
    }
}

@media (min-width: 421px) {
  .scaled {
    display: none;
  }
}

@media (max-width: 420px) {
  .notScaled {
    display: none;
  }
}