.meaple {
    position: absolute;
    .containerInternal {
        position: relative;
        > img {
            position: absolute;
            width: 25px;
            height: 25px;
            left: 10px;
            z-index: 2;
        }
    }
}