@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

:root {
  --font-sans: 'Titillium Web', sans-serif;
  --red-primary: #ed1a2f;
  --red-secondary: #c51021;
  --green-primary: #58c456;
  --color-marquis: #fa9115
}

body {
  font-family: var(--font-sans);
  background-color: #f2f2f2;
  -webkit-font-smoothing: antialiased;
}

.body-div {
  display: flex;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container-root {
  height: 100vh;
  background-color: #ffffff;
}
button {
  outline: none;
  border: none;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#menu-lateral.active {
  min-width: 75%;
  width: 100%;
  height: 100vh;
  margin-right: 10px;
  padding-top: 30px;
}