.Header {
    background-color: #ffffff;

    .container {
        margin-top: 15px;
    }
    > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        > img {
            width: 135px;
            height: 95px;
        }
    }
}