.datePicker {
    background-color: #f4f4f4;
    > div > fieldset {
        border: none!important;
    }

    span {
        font-weight: 100;
    }
}

.absolute {
    position: relative;
    display: flex;
    flex-direction: column;
    .errorSpan {
        position: absolute;
        font-size: 10px;
        font-weight: 600;
        color: var(--red-primary);
        text-align: end;
        bottom: -13px;
        width: 100%;
    }
}
